<?xml version="1.0" encoding="UTF-8"?>
<!-- mybatis 설정문서 -->
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="configLocation" value="/WEB-INF/config/mapper/mapper-config.xml"/>
        <property name="mapperLocations" value="classpath:/spring/**/dao/*_SQL.xml" />
    </bean>
     
	<!-- interface에 어노테이션 붙여서 바로 구현 -->
	<bean class="spring.common.module.mapper.MapperConfigurer">
		<property name="basePackage" value="spring.**.dao" />
	</bean>
     
	<!-- dao를 사용하여 구현. -->
    <!-- <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sqlSession"/>
    </bean>  -->
</beans>
